
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .text-zone {
    width: 100%;
    
  }
  //add icons to right side of about page
  .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}


  .icon-container {
  width: 50%;
  height: 100%;
  top: 0;
  padding-top: 18%;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;

  }
  
  .icon {
    font-size: 4rem;
    
  }
